body{ 
  padding: 20px; 
}

.user-dropdown{
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 20px;
}

.dropdown-menu.show{
  display: block;
}

.return{
  z-index: 1;
}

.return button a{
  text-decoration: none;
}

.mismalinea{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}